<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @team.user[:name] %>
</p>

<div class="border" style="padding: 5vh;">
  <%= form_tag add_player_path, method: :post do %>
    <%= label_tag(:email, "New Player Email:") %>
    <%= text_field_tag(:email) %>

    <%= hidden_field_tag "id", @team.id %>

    <%= submit_tag("Add") %>
  <% end if current_user.owns? @team %>
</div>

<ul style="margin-top: 2vh;">
  <% @players.each do |player| %>
    <li>
      <div class="row" >
        <p class="col-3 border-bottom border-right" ><%= player.name %></p>
  <!--      Current User cannot delete itself if it own the team.
            Current User may delete itself if it does not own the team.
            Current User can delete any other User.  -->
        <% if (current_user.owns? @team and current_user.id != player.id) or
              (!(current_user.owns? @team) and current_user.id == player.id) %>

          <%= link_to "Remove", remove_player_path(id: @team.id, user_id: player.id, user_name: player.name), method: :delete, data: {confirm: 'Are you sure?'}, class: "col"%>

        <% end %>
      </div>
    </li>


  <% end %>
</ul>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
