<%= form_with(model: statistic, local: true) do |form| %>
  <% if statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
      <% statistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.collection_select(:user, User.all, :id, :name, {selected: User.first.id, prompt: true}, name: "statistic[user_id]") %>
  </div>

  <div class="field">
    <%= form.label :game %>
    <%= form.collection_select(:game, Game.all, :id, :scheduled_date, {selected: Game.first.id, prompt: true}, name: "statistic[game_id]") %>
  </div>

  <div class="field">
    <%= form.label :stat_type %>
    <%= form.select(:stat_type, Statistic.types.collect {|u| [u[0],u[0]]}) %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
