


<div class="col-md-6 table-responsive text-center ">
  <h4><%= dateFormatTwo(@next_game.when) %></h4>

  <table class="table table-striped table-bordered table-hover table-sm">
    <thead>
      <th bgcolor="#f08080"><%= @next_game.team_a.name %></th>
      <th bgcolor="#add8e6"> <%= @next_game.team_b.name %></th>
    </thead>

    <tbody>
      <%# @next_game.team_a.player_team_rs.pluck(:user_id).each do |user_id| %>
      <% player_team_a_relationship = @next_game.team_a.player_team_rs %>
      <% player_team_b_relationship = @next_game.team_b.player_team_rs %>
      <% totalPlayersA = player_team_a_relationship.length %>
      <% totalPlayersB = player_team_b_relationship.length %>

      <% size = totalPlayersA > totalPlayersB ? totalPlayersA : totalPlayersB %>
      <% (0..size).each do |index| %>
        <tr>
          <td><%= User.find(player_team_a_relationship[index].user_id).name if player_team_a_relationship[index] %></td>
          <td><%= User.find(player_team_b_relationship[index].user_id).name if player_team_b_relationship[index] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>