<div class="border border-primary info-preview">
  <h1 class="games-preview-title text-center">Upcoming Games</h1>

  <div class="preview-table table-responsive">
    <table class="table table-sm table-hover text-center header-fixed">
      <thead>
      <tr>
        <th>Date</th>
        <th>Place</th>

        <th>Team A</th>
        <th>Team B</th>

        <th>Format</th>

        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @games.each do |game| %>
        <tr>
          <td>
            <%= dateFormatTwo(game.when) %>
          </td>

          <td>
            <%= game.where %>
          </td>

          <td>
            <%= game.teamA.name %>
          </td>

          <td>
            <%= game.teamB.name %>
          </td>

          <td>
            <%= game.format %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
