<%= form_for @game_team_player, url: games_path, method: :post do |f| %>

  <div class="container border">

    <div class="row text-center">
      <span class="col-3"></span>
      <div class="col-6">
        <%= label_tag "Date: " %>
        <%= select_datetime  %>
      </div>
      <span class="col-3"></span>
    </div>

    <div class="row text-center">
      <span class="col-3"></span>
      <div class="col-6">
        <%= f.label :game_format %>
        <%= f.collection_select(:game_format, GameFormat.all, :id, :name) %>
      </div>
      <span class="col-3"></span>
    </div>



    <div class="row">
      <span class="col-1"></span>
      <h4 class="col-2 text-center">Team A</h4>
      <span class="col-6"></span>
      <h4 class="col-2 text-center">Team B</h4>
    </div>

    <div class="row">
      <span class="col-1"></span>

      <%= f.text_field "team_a_name", placeholder: "Team Name", class: "col-2 text-center", value: "A"%>

      <span class="col-6"></span>

      <%= f.text_field "team_b_name", placeholder: "Team Name", class: "col-2 text-center", value: "B"%>
    </div>

    <div class="row" style="margin-top: 2vh;">
      <h6 class="col-2 text-center"> Player Name </h6>
      <h6 class="col-2 text-center"> Phone Number </h6>

      <span class="col-4"></span>

      <h6 class="col-2 text-center"> Player Name </h6>
      <h6 class="col-2 text-center"> Phone Number </h6>
    </div>


    <div class="row">

      <div class="col-4">
        <% (0...2).each do |index| %>
          <div class="row">
            <%= f.text_field :team_a_name_list, multiple: true, placeholder: "Name", class: "col text-center", value: "name#{(index+1) * 231}" %>
            <%= f.text_field :team_a_phone_list, multiple: true, placeholder: "Phone", class: "col text-center", value: "#{Random.rand(100000000000)}" %>
          </div>
        <% end %>
      </div>

      <span class="col-4"></span>

      <div class="col-4">
        <% (0...2).each do |index| %>
          <div class="row">
            <%= f.text_field :team_b_name_list, multiple: true, placeholder: "Name", class: "col text-center", value: "name#{(index+1) * 355}" %>
            <%= f.text_field :team_b_phone_list, multiple: true, placeholder: "Phone", class: "col text-center", value: "#{Random.rand(100000000000)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row text-center">

      <div class="col">

        <%= submit_tag %>
      </div>
    </div>
  </div>

<% end %>
