<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @game.scheduled_date.strftime("%A, %d %b %Y %l:%M %p") %>
</p>

<p>
  <strong>Where:</strong>
  <%= @game.where %>
</p>

<p>
  <strong>Teama:</strong>
  <%= @game.team_a.name %>
</p>

<p>
  <strong>Teamb:</strong>
  <%= @game.team_b.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @game.game_format.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
