<h3 class="text-center">Game Id : <%= @game.id %></h3>
<div class="row">
  <span class="col-2"></span>
  <div class="col">
    <div class="text-center">
      <div class="row">
        <div class="col">
          <h3>Date:</h3>
          <p><%= dateFormatTwo @game.scheduled_date %></p>
        </div>

        <div class="col">
          <h3>Game Master:</h3>
          <p><%= @game.game_master.name %>:<%= @game.game_master.phone %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="col-4 text-center"> <%= @team_a.name %></p>
      <span class="col-4"></span>
      <p class="col-4 text-center"> <%= @team_b.name %></p>
    </div>

    <div class="row" style="margin-top: 2vh;">
      <h6 class="col-2 text-center"> Name </h6>
      <h6 class="col-2 text-center"> Phone  </h6>

      <span class="col-4"></span>

      <h6 class="col-2 text-center"> Name </h6>
      <h6 class="col-2 text-center"> Phone </h6>
    </div>

    <div class="row">
      <div class="col-4">
        <% @team_a_players.each do |player| %>
          <div class="row">
            <p class="col text-center"><%= player.name %></p>
            <p class="col text-center"><%= player.phone %></p>
          </div>
        <% end %>
      </div>

      <span class="col-4"></span>

      <div class="col-4">
        <% @team_b_players.each do |player| %>
          <div class="row">
            <p class="col text-center"><%= player.name %></p>
            <p class="col text-center"><%= player.phone %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <span class="col-2"></span>
</div>
