
<table class="table table-bordered table-sm text-center table-hoover">
  <thead class="thead-dark" >
    <%= render "games/game_table_header_row" %>
  </thead>

  <tbody>
    <%= render "games/game_table_body_row" %>
  </tbody>
</table>

<%= render "players/stats_overview_table" %>

<div class="row">
  <%= render "games/players_overview_table", locals: {team: @game.team_a}%>

  <div class="col-4"></div>

  <%= render "games/players_overview_table", locals: {team: @game.team_b} %>

</div>
