<!DOCTYPE html>
<html>
  <head>
    <title>Futnuts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

    <nav class="navbar">

      <ul class="list-inline">
        <li class="list-inline-item hover-background-change">
          <%= link_to "Home", root_path, class: "nav-link border rounded btn-primary" %>
        </li>

        <% if user_signed_in? %>
          <li class="list-inline-item hover-background-change">
            <%= link_to "Log Out", destroy_user_session_path, class: "nav-link border rounded btn-danger", method: :delete %>
          </li>

          <li class="list-inline-item hover-background-change">
            <%= link_to "Games", games_path, class: "nav-link border rounded btn-secondary"%>
          </li>

          <li class="list-inline-item hover-background-change">
            <%= link_to "Teams", teams_path, class: "nav-link border rounded btn-secondary" %>
          </li>
        <% else %>
          <li class="list-inline-item hover-background-change">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link border rounded btn-success" %>
          </li>
        <% end %>
      </ul>

    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
